:host {
	--palette-width: 640px;
	--palette-backdrop-filter: none;
	--palette-overflow-background: rgba(255, 255, 255, 0.5);
	--palette-text-color: rgb(60, 65, 73);
	--palette-font-size: 16px;
	--palette-top: 20%;

	--palette-key-border-radius: 0.25em;
	---palette-accent-color-palette-accent-color: #3E9BD1;
	--palette-secondary-background-color: rgb(239, 241, 244);
	--palette-secondary-text-color: rgb(107, 111, 118);

	--palette-selected-background: rgb(248, 249, 251);

	--palette-icon-color: var(--palette-secondary-text-color);
	--palette-icon-size: 1.2em;
	--palette-separate-border: 1px solid var(--palette-secondary-background-color);

	--palette-modal-background: #fff;
	--palette-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;

	--palette-actions-height: 300px;
	--palette-group-text-color: rgb(144, 149, 157);

	--palette-footer-background: rgba(242, 242, 242, 0.4);

	--palette-placeholder-color: #8e8e8e;

	font-size: var(--palette-font-size);

	--palette-z-index: 1;
}

:host(.dark) {
	--palette-backdrop-filter: none;
	--palette-overflow-background: rgba(0, 0, 0, 0.7);
	--palette-text-color: #7d7d7d;

	--palette-modal-background: rgba(17, 17, 17, 0.85);
	--palette-accent-color: #3E9BD1;
	--palette-secondary-background-color: rgba(51, 51, 51, 0.44);
	--palette-secondary-text-color: #888;

	--palette-selected-text-color: #eaeaea;
	--palette-selected-background: rgba(51, 51, 51, 0.44);

	--palette-icon-color: var(--palette-secondary-text-color);
	--palette-separate-border: 1px solid var(--palette-secondary-background-color);

	--palette-modal-shadow: 0 16px 70px rgba(0, 0, 0, 0.2);

	--palette-group-text-color: rgb(144, 149, 157);

	--palette-footer-background: rgba(30, 30, 30, 85%);
}

.modal {
	display: none;
	position: fixed;
	z-index: var(--palette-z-index);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: var(--palette-overflow-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backdrop-filter: var(--palette-backdrop-filter);
	backdrop-filter: var(--palette-backdrop-filter);
	text-align: left;
	color: var(--palette-text-color);
	font-family: var(--palette-font-family);
}

.modal.visible {
	display: block;
}

.modal-content {
	position: relative;
	top: var(--palette-top);
	margin: auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
	min-width: 0px;
	will-change: transform;
	background: var(--palette-modal-background);
	border-radius: 0.5em;
	box-shadow: var(--palette-modal-shadow);
	max-width: var(--palette-width);
	overflow: hidden;
}

.bump {
	animation: zoom-in-zoom-out 0.2s ease;
}

@keyframes zoom-in-zoom-out {
	0% {
	transform: scale(0.99);
	}
	50% {
	transform: scale(1.01, 1.01);
	}
	100% {
	transform: scale(1, 1);
	}
}

.palette-github {
	color: var(--palette-keys-text-color);
	font-weight: normal;
	text-decoration: none;
}

.actions-list {
	max-height: var(--palette-actions-height);
	overflow: auto;
	scroll-behavior: smooth;
	position: relative;
	margin: 0;
	padding: 0.5em 0;
	list-style: none;
	scroll-behavior: smooth;
}

.group-header {
	height: 1.375em;
	line-height: 1.375em;
	padding-left: 1.25em;
	padding-top: 0.5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.75em;
	line-height: 1em;
	color: var(--palette-group-text-color);
	margin: 1px 0;
}

.modal-footer {
	background: var(--palette-footer-background);
	padding: 0.5em 1em;
	display: flex;
	/* font-size: 0.75em; */
	border-top: var(--palette-separate-border);
	color: var(--palette-secondary-text-color);
}

.modal-footer .help {
	display: flex;
	margin-right: 1em;
	align-items: center;
	font-size: 0.75em;
}

.palette-examplekey {
	background: var(--palette-secondary-background-color);
	padding: 0.06em 0.25em;
	border-radius: var(--palette-key-border-radius);
	color: var(--palette-secondary-text-color);
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
	font-size: 1.25em;
	fill: currentColor;
}

.palette-examplekey.esc {
	width: auto;
	height: auto;
	font-size: 1.1em;
}

.palette-examplekey.backspace {
	opacity: 0.7;
}
