.palette-action {
	padding: 0.75em 1em;
	display: flex;
	border-left: 2px solid transparent;
	align-items: center;
	justify-content: start;
	outline: none;
	transition: color 0s ease 0s;
	width: 100%;
}

.palette-action.selected {
	cursor: pointer;
	color: var(--palette-selected-text-color);
	background-color: var(--palette-selected-background);
	border-left: 2px solid var(--palette-accent-color);
	outline: none;
}

.palette-action.selected .palette-icon {
	color: var(--palette-selected-text-color);
}

.palette-icon {
	font-size: var(--palette-icon-size);
	max-width: var(--palette-icon-size);
	max-height: var(--palette-icon-size);
	margin-right: 1em;
	color: var(--palette-icon-color);
	margin-right: 1em;
	position: relative;
}

.palette-title {
	flex-shrink: 0.01;
	margin-right: 0.5em;
	flex-grow: 1;
	font-size: 0.8125em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.palette-hotkeys {
	flex-shrink: 0;
	width: min-content;
	display: flex;
}

.palette-hotkeys kbd {
	font-family: inherit;
}

.palette-hotkey {
	background: var(--palette-secondary-background-color);
	padding: 0.06em 0.25em;
	border-radius: var(--palette-key-border-radius);
	text-transform: capitalize;
	color: var(--palette-secondary-text-color);
	font-size: 0.75em;
	font-family: inherit;
}

.palette-hotkey + .palette-hotkey {
	margin-left: 0.5em;
}

.palette-hotkeys + .palette-hotkeys {
	margin-left: 1em;
}
